@import url("https://fonts.cdnfonts.com/css/panton-rust-heavy");
@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #0f0906;
}

.font-pantonRust {
   font-family: "Panton Rust Heavy";
}

.font-passeroOne {
   font-family: "Passero One";
}

/* Navbar styles */
.nav-links a.active,
.nav-links a:hover {
   color: #1E1510;
   border: 1px solid #1d140f;
   background-color: #fcb95f;
}




@media only screen and (max-width: 370px) {



   .colorTexl {
      font-size: 7px;
      width: fit-content;
   }

   /* .copySectionText {
      font-size: 50px;
      margin-right: 10px;
   } */

   .textTitle {
      font-size: 10px;
      margin-left: -6px;
   }

   .textTitleBorder1 {
      font-size: 7.1px;
      width: fit-content;
   }
}